.logo_image {
  width: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
  background-color: aquamarine;
}

.navigation ul {
  display: flex;
}

.nav_li {
  margin-right: 50px;

}


.image {
  display: block;
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

.section2{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.section2 div{
  width: 500px;
  height: 400px;
  background-color: rgb(139, 229, 13);
  margin-right: 20px;
}

.batumi_image{
  width: 250px;
  height: 150px;
}


.fa-brands {
  color: blue;
  font-size: 30px;
}

.divaider {
  width: 2px;
  height: 30px;
  background-color: blue;
  display: inline-block;
}
